mufenglin-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mufenglin-adf"
		},
		"mufenglin_AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'mufenglin_AzureBlobStorage'"
		},
		"mufenglin_AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'mufenglin_AzureDatabricks'"
		},
		"mufenglin_AzureFunction_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'mufenglin_AzureFunction'"
		},
		"mufenglin_HDInsight_e8_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'mufenglin_HDInsight_e8'"
		},
		"mufenglin_AzureFunction_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://filter-internal-function-app.azurewebsites.net"
		},
		"mufenglin_HDInsight_e8_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mufenglin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/mufenglin_AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('mufenglin_AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mufenglin_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-335135269635194.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('mufenglin_AzureDatabricks_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "2",
					"newClusterSparkConf": {
						"spark.hadoop.fs.azure.account.key.mufenglinstorage.blob.core.windows.net": "fsjzopzjUs2ZRbAMx2aj3M9lebiPJl05En1rNODxeEwFtrcVYcMR2rl6vs3atVmGexrYYwdg1yAgW6tjMC6YFw==",
						"spark.yarn.preserve.staging.files": "true"
					},
					"newClusterVersion": "10.0.x-scala2.12",
					"newClusterInitScripts": [],
					"clusterOption": "Fixed"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mufenglin_AzureFunction')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('mufenglin_AzureFunction_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('mufenglin_AzureFunction_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mufenglin-integrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databricks-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/adftutorial/mynotebook",
							"baseParameters": {
								"input": {
									"value": "@pipeline().parameters.name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"name": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/wordcount-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/adftutorial/mynotebook"
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mufenglin_HDInsight_e8')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://mufenglin-hdinsight.azurehdinsight.net",
					"userName": "[parameters('mufenglin_HDInsight_e8_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('mufenglin_HDInsight_e8_password')]"
					},
					"isEspEnabled": false,
					"linkedServiceName": {
						"referenceName": "mufenglin_AzureBlobStorage",
						"type": "LinkedServiceReference"
					}
				},
				"connectVia": {
					"referenceName": "mufenglin-integrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/mufenglin-integrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/filter-internal-exp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "experimental data",
				"activities": [
					{
						"name": "pyspark-script",
						"description": "data filtering script",
						"type": "HDInsightSpark",
						"dependsOn": [
							{
								"activity": "preprocess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "driverMemory",
								"value": "64g"
							}
						],
						"typeProperties": {
							"rootPath": "filter-internal/script",
							"entryFilePath": "filter_script.py",
							"sparkJobLinkedService": {
								"referenceName": "mufenglin_AzureBlobStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_HDInsight_e8",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "preprocess",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "HttpTrigger1",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_AzureFunction",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "postprocess",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "pyspark-script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "HttpTrigger2",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_AzureFunction",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureBlobStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_HDInsight_e8')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureFunction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mufenglin-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "mufeng-Spark",
						"type": "HDInsightSpark",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "adftutorial/spark/script",
							"entryFilePath": "WordCount_Spark.py",
							"sparkJobLinkedService": {
								"referenceName": "mufenglin_AzureBlobStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_HDInsight_e8",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureBlobStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_HDInsight_e8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mufenglin-testing-e4-x4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pyspark-filter",
						"type": "HDInsightSpark",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "filter-internal/script",
							"entryFilePath": "filter-script-perf-test.py",
							"sparkJobLinkedService": {
								"referenceName": "mufenglin_AzureBlobStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_HDInsight_e8",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Performance Testing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureBlobStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_HDInsight_e8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_get_trigger_time')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Spark1",
						"type": "HDInsightSpark",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "jars",
							"entryFilePath": "FilterInternal.jar",
							"arguments": [
								"testArg=4"
							],
							"className": "testpackage.TestFilterInternal",
							"sparkJobLinkedService": {
								"referenceName": "mufenglin_AzureBlobStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_HDInsight_e8",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "foo"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureBlobStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_HDInsight_e8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_script_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SparkTest",
						"type": "HDInsightSpark",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "filter-internal/script",
							"entryFilePath": "WordCount_Spark.py",
							"sparkJobLinkedService": {
								"referenceName": "mufenglin_AzureBlobStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_HDInsight_e8",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureBlobStorage')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_HDInsight_e8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Spark1",
						"type": "HDInsightSpark",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"rootPath": "jars",
							"entryFilePath": "datax-host_2.4_2.11-1.2.8-SNAPSHOT-mufenglin-monitoring-test.jar",
							"className": "datax.app.MonitoringApp",
							"sparkJobLinkedService": {
								"referenceName": "mufenglin_AzureBlobStorage",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "mufenglin_HDInsight_e8",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "monitoring"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_HDInsight_e8')]",
				"[concat(variables('factoryId'), '/linkedServices/mufenglin_AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-10min')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "filter-internal-exp",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2021-12-03T13:10:00",
						"timeZone": "China Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/filter-internal-exp')]"
			]
		}
	]
}